
.details-img img{
    border: 1px solid #eaeaea;
    
}
.details-img img:hover{
   filter: opacity(50%);
    
}
.details-card h1{
 padding-bottom: 10px ;
 border-bottom: 4px solid rgb(209, 206, 44);
 

}
.wrapper{
    display:grid;
    padding: 2px;
    place-items:center
  }

